{
    "tv.jodaka.ololo.yandex.ru": {
        "root_path": "/Users/jodaka/git/tv",
        "debug"    : "1",
        "compress" : "1"
    },

    "pogoda.jodaka.ololo.yandex.ru": {
        "root_path": "/Users/jodaka/git/tv",
        "debug"    : "0",
        "compress" : "0"
    },

    "localhost.*": {
        "root_path": "/Users/jodaka/git/tv",
        "debug"    : "1",
        "compress" : "1"
    }
}